<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" [routerLink]="['Inicio']">Redes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Unidad_1']">Unidad I</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Unidad_2']" aria-disabled="true">Unidad II</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Unidad_3']" aria-disabled="true">Unidad III</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Unidad_4']" aria-disabled="true">Unidad IV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Unidad_5']" aria-disabled="true">Unidad V</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Subnet']" aria-disabled="true">Subneteo</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>-->
    </div>
</nav>