<!-- Footer -->
<hr class="center col-9">
<footer class="page-footer font-small">
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Sobre la pagina</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Esta pagina web se realizo como proyecto de la materia Topicos II, ademas de demostrar el diseño, la pagina tambien cuenta con la informacion de la materia con fines educativos, y no lucrativos
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Unidades</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a [routerLink]="['/Unidad_1']">Unidad I</a>
                </p>
                <p>
                    <a [routerLink]="['/Unidad_2']">Unidad II</a>
                </p>
                <p>
                    <a [routerLink]="['/Unidad_3']">Unidad III</a>
                </p>
                <p>
                    <a [routerLink]="['/Unidad_4']">Unidad IV</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    New York, NY 10012, US
                </p>
                <p>
                    info@example.com
                </p>
                <p>
                    + 01 234 567 88
                </p>
                <p>
                    + 01 234 567 88
                </p>
            </div>
        </div>
    </div>
    <hr class="center col-10">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a>J. Salvador Alcalá A.</a>
    </div>
</footer>